/* NOTE: This file, which loads all necessary fonts for rendering Studio UI, is 1 of 3 CSS files compiled in our production pipeline  */
/* No subsetting. */

@font-face {
  font-family: 'Open Sans';
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Light-webfont.b126ef62be73.eot");
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Light-webfont.b126ef62be73.eot?#iefix") format('embedded-opentype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Light-webfont.df04ed7fc7d8.woff") format('woff'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Light-webfont.557ad65e492b.ttf") format('truetype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Light-webfont.4c206ab41ebc.svg#open_sanslight") format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-LightItalic-webfont.1e369b712d5f.eot");
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-LightItalic-webfont.1e369b712d5f.eot?#iefix") format('embedded-opentype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-LightItalic-webfont.02d04d22784f.woff") format('woff'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-LightItalic-webfont.05e99ea9cf0b.ttf") format('truetype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-LightItalic-webfont.32bb3004c344.svg#open_sanslight_italic") format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Regular-webfont.62d83926c383.eot");
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Regular-webfont.62d83926c383.eot?#iefix") format('embedded-opentype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Regular-webfont.87119b577169.woff") format('woff'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Regular-webfont.4c7e867ae422.ttf") format('truetype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Regular-webfont.d73851514472.svg#open_sansregular") format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Italic-webfont.028bb5f960d7.eot");
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Italic-webfont.028bb5f960d7.eot?#iefix") format('embedded-opentype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Italic-webfont.b9812e74f089.woff") format('woff'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Italic-webfont.2416d120632b.ttf") format('truetype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Italic-webfont.1238e6422891.svg#open_sansitalic") format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Semibold-webfont.78c76f824699.eot");
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Semibold-webfont.78c76f824699.eot?#iefix") format('embedded-opentype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Semibold-webfont.dbbfd9e667c7.woff") format('woff'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Semibold-webfont.f75c4b742376.ttf") format('truetype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Semibold-webfont.1f0599ac63a1.svg#open_sanssemibold") format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-SemiboldItalic-webfont.b799ba8ecbd6.eot");
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-SemiboldItalic-webfont.b799ba8ecbd6.eot?#iefix") format('embedded-opentype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-SemiboldItalic-webfont.f386291c234e.woff") format('woff'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-SemiboldItalic-webfont.e84740526b8c.ttf") format('truetype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-SemiboldItalic-webfont.5bed120b13ca.svg#open_sanssemibold_italic") format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Bold-webfont.d7c3cb4eb719.eot");
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-Bold-webfont.d7c3cb4eb719.eot?#iefix") format('embedded-opentype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Bold-webfont.6dbaf63547f2.woff") format('woff'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Bold-webfont.ad0eb070a07f.ttf") format('truetype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-Bold-webfont.9ac36fa661f4.svg#open_sansbold") format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-BoldItalic-webfont.75fb3c479a51.eot");
  src: url("/static/464ae71/fonts/OpenSans/OpenSans-BoldItalic-webfont.75fb3c479a51.eot?#iefix") format('embedded-opentype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-BoldItalic-webfont.7dae097d5db8.woff") format('woff'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-BoldItalic-webfont.f9103010ab55.ttf") format('truetype'),
       url("/static/464ae71/fonts/OpenSans/OpenSans-BoldItalic-webfont.8a0b648ee37e.svg#open_sansbold_italic") format('svg');
  font-weight: 700;
  font-style: italic;
}
