{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Anda menerima email ini karena anda mengajukan permohonan merubah kata kunci untuk akun di {{ site_name }}.{% endblocktrans %}

{% trans "Untuk merubah Kata kunci, dimohon membuka halaman ini dan megisi kata kunci baru:" %}
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

{% trans "Jika anda tidak mengajukan permohonan penggantian kata kunci, anda dapat mengabaikan email ini - kami belum merubah kata kunci anda.." %}

{% trans "Terima kasih telah mengunjungi website kami!" %}

{% blocktrans %}The {{ platform_name }} Team{% endblocktrans %}

{% endautoescape %}
