<%! from django.utils.translation import ugettext as _ %>
<script src="https://apis.google.com/js/platform.js?onload=startApp" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>

    ga('send', 'pageview', {
      'page': '/success_register',
      'title': 'my overridden page',
      'hitCallback': function() {
      }
    });

    window.fbAsyncInit = function() {
        FB.init({
          appId      : '904362939628972',
          xfbml      : true,
          version    : 'v2.4'
        });

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            // and signed request each expire
            var uid = response.authResponse.userID;
            var accessToken = response.authResponse.accessToken;
            if ($('.third-party-auth form').attr("action") != "/auth/disconnect/facebook/?") {
                window.location.assign('/auth/login/facebook/?auth_entry=dashboard');
            }
          }
        });
      };
    (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    function startApp() {
        console.log('start google app');
        // User Submitted Variables
        var projectName = 'API Project';
        var metricName = 'compute.googleapis.com/instance/uptime';
        // var metricName = 'appengine.googleapis.com/system/cpu/usage';
        var clientId = '372978425690-0hbpckqhvmgkvtrsn39qdhf0s0s0gs5b.apps.googleusercontent.com';

         gapi.load('auth2', function(){
            auth2 = gapi.auth2.init({
                client_id: clientId,
            });
            auth2 = gapi.auth2.getAuthInstance();
            auth2.isSignedIn.listen( function() {
              console.log(auth2.currentUser.get());
            });
            auth2.then(function(resp){
              console.log(auth2.currentUser.get());
            });
        });
    }


    
    
</script>
<div class="wrapper-msg urgency-high">
    <div class="msg">
        <div class="msg-content">
            <h2 class="title">${_("Terima Kasih sudah Mendaftar bersama UCEO!")}</h2>
            <div class="copy">
                <p class='activation-message'>${_(
                    "Sebelum Anda mengikuti pembelajaran di UCEO. Kami telah mengirimkan email aktivasi akun ke {email} Anda. Untuk mengaktivasi akun, Anda hanya perlu klik link di email Anda."
                    ).format(email="<strong>{}</strong>".format(email), platform_name=platform_name
                    )}
                </p>
            </div>
            <br/>
            <h2 class="title">Baca ini jika Anda menggunakan Facebook/Google!</h2>
            <div class="copy">
                <p class="activation-message">
                 Jika Anda menggunakan <strong>Google/Facebook</strong>, <b>pastikan</b> Anda menghubungkan akun Anda dengan klik tombol <strong>LINK</strong> di bagian profil Anda. Dengan menghubungkan akun Anda, Anda tidak perlu lagi mengingat password Anda dan hanya cukup dengan menekan tombol Masuk dengan Facebook/Google, Anda sudah bisa masuk ke akun Anda.
                </p>
            </div>
        </div>
    </div>
</div>
