/**
 * uceo-identity
 * ========================================================
 * Custom base styles
 * Last edited:[20150624] by Bram
 */
header.global .user { margin-top: 10px !important; }
header.global .user>.primary>a {
  border: none !important; padding: 0.5em 0.8em !important;
}
header.global .user>.primary>.dropdown-menu {
  left: inherit;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background: none !important;
}