@import 'bourbon/bourbon';
@import 'bourbon/addons/button';
@import 'assets/anims';
.xmodule_edit.xmodule_CombinedOpenEndedDescriptor {
  @import "001-e978d17a51ad2a55349f870440601271.scss";
  @import "000-06c4d471ffb9d7df91ecf83f81dc3a1b.scss";
}
.xmodule_edit.xmodule_ImageAnnotationDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_StaticTabDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-06c4d471ffb9d7df91ecf83f81dc3a1b.scss";
}
.xmodule_edit.xmodule_VideoAnnotationDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_TextAnnotationDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_HiddenDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_DiscussionDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_CapaDescriptor {
  @import "001-f62e8a5eef625e7286e9cb519f8cf42d.scss";
  @import "000-06c4d471ffb9d7df91ecf83f81dc3a1b.scss";
}
.xmodule_edit.xmodule_ABTestDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_LTIDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_RawDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_AnnotatableDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_VideoDescriptor {
  @import "000-73c262b105b53fab2145793601baa62e.scss";
}
.xmodule_edit.xmodule_WordCloudDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_GraphicalSliderToolDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_CourseInfoDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-06c4d471ffb9d7df91ecf83f81dc3a1b.scss";
}
.xmodule_edit.xmodule_CrowdsourceHinterDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_AboutDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-06c4d471ffb9d7df91ecf83f81dc3a1b.scss";
}
.xmodule_edit.xmodule_PeerGradingDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_HtmlDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-06c4d471ffb9d7df91ecf83f81dc3a1b.scss";
}
.xmodule_edit.xmodule_CustomTagDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}